<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
    </head>

    <body>
        <h2>Create user</h2>
        <form method="post" action="{% url 'createuser' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" id="username" /> <br/>
            <input type="password" name="password" placeholder="password" id="password" /> <br/>
            <input type="submit" value="save"/>
        </form>
        {% if error %}
        {{error}}
        {% endif %}
    </body>
</html>